* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    line-height: 1.3;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Regular.woff') format('woff'),
        url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-SemiBold.woff') format('woff'),
        url('Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    color: #ffffff;
    overflow: hidden;
}
.slider__images {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
}
.slider__img {
    position: relative;
    min-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
}
.slider__img.active {
    z-index: 0;
}
.slider__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
}
.slider__text {
    position: relative;
    z-index: 1;
}
.slider__city {
    font-size: 60px;
    font-weight: 600;
}
.slider__info {
    font-size: 36px;
}
.slider__header {
    position: relative;
    display: flex;
    z-index: 1;
}
.slider__header img {
    height: 60px;
    margin-right: 30px;
}
.slider__header p {
    display: flex;
    align-items: center;
}
.city__info {
    position: relative;
    width: 100%;
    height: auto;
}
.slider__footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slider__link {
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 15px 25px;
    border-radius: 40px;
    border: 3px solid #ffffff;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
}
.slider__images-wrap {
    width: 100%;
    overflow: hidden;
}
.slider__images-min {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
}
.image__min {
    min-width: 25%;
    margin-right: 12.5%;
    max-width: 200px;
}
.image__min:last-child {
    margin-right: 0;
}
.image__min img {
    width: 100%;
    height: auto;
    border-radius: 4%;
}
.image__min_title {
    text-align: center;
    padding-top: 5px;
    font-size: 28px;
    white-space: nowrap;
}
.slider__dots {
    display: flex;
    align-items: center;
    width: auto;
    padding-top: 30px;
}
.slider__dot {
    height: 10px;
    width: 10px;
    border: 1px solid #ffffff;
    margin-right: 15px;
    border-radius: 50%;
}
.slider__dot.active {
    background-color: #ffffff;
}
.slider__dot:last-child {
    margin-right: 0;
}
.footer__title {
    padding: 15px 0;
}
.bg-shadow {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}
.bg-shadow img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: 100%;
}

@media (max-width: 540px) {
    .slider {
        padding: 20px;
    }
    .slider__img img {
        min-height: 100%;
        width: auto;
        min-width: 100%;
        height: 100%;
    }
    .slider__city {
        font-size: 36px;
    }
    .slider__info {
        font-size: 20px;
        line-height: 1.05;
    }
    .slider__link {
        font-size: 20px;
    }
    .image__min_title {
        font-size: 20px;
    }
}


@media (max-width: 480px) {
    .slider__city {
        font-size: 36px;
    }
    .slider__link {
        font-size: 18px;
        white-space: nowrap;
        padding: 10px 15px;
    }
    .image__min_title {
        font-size: 16px;
    }
    .image__min {
        min-width: calc((100% - 40px) / 3);
        margin-right: 20px;
        max-width: 200px;
    }
    .slider__header p {
        font-size: 14px;
    }
}
@media (max-width: 350px) {
    .slider__city {
        font-size: 30px;
    }
    .footer__title,
    .slider__link {
        font-size: 16px;
    }
    .footer__title {
        line-height: 1;
    }
    .slider__dots {
        padding-top: 15px;
    }
    .slider__header img {
        height: 40px;
        margin-right: 20px;
    }
    .slider__header p {
        font-size: 12px;
        align-items: flex-end;
    }
}